{{ define "head" }}
<head>
<title>WebAuthn Demo</title>
<link rel="icon" href="/s/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
  @media screen and (max-width: 481px) {
    * {
      font-size: 45px;
    }
  }

  #log {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 90%;
    font-size: 24px;
  }
</style>
<script>
  // {{template "js"}}
</script>
</head>
{{ end }}