<html>

<head>
  <link rel="icon" href="/s/favicon.png" />
</head>

<body>
  <ul>
    <li><a href="/">Goto /</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
  <!-- <form method="POST" action="register">
    <label for="name">User Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Register">
  </form>

  <form method="POST" action="login">
    <label for="name">User Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Authenticate">
  </form> -->

</body>

</html>
