<html>
{{ template "head" }}

<body>
  {{if .}}Error: {{.}}<br /> {{end}}

  First set name, default "foo". <br />
  <label for="un">Username</label>: <input id="un" name="username" value="foo" onchange="userNameChanged();"/>
  <br />
  <br />
  Second Click link below.
  <ul>
    <li><a id="register" href="/register">Register</a></li>
    <li><a id="login" href="/login">Login</a></li>
    <li><a href="/">Goto /</a></li>
  </ul>
  <!-- <form method="POST" action="register">
    <label for="name">User Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Register">
  </form>

  <form method="POST" action="login">
    <label for="name">User Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Authenticate">
  </form> -->

</body>
</html>
